.btn.btn-primary.but{
    margin-top:15px;
    width: 45%;
    margin-right: 30px;
    
}

h1{
    background-color: #63b9e0;
}

#uno{
    margin-top:10px;
    width: 20%;
}

#but2{
    width: 30%;
    height: 37px;  
}

#boton2{
    width: 100%;
    margin-top: 10px;
}






