{% extends 'layout.html' %} 

{% block body %} 
{% with mensaje =
get_flashed_messages() %}
{% if mensaje %} 
{%for m in mensaje %}

<div class="alert alert-info alert-dismissible fade show" role="alert">
  <p><b> {{ m }} </b></p>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{%endfor%} 
{%endif %} 
{% endwith %}

<div class="col-md-6 offset-md-3">
  <div class="card" style="background: #afe5fe">
    <div class="card-body">
      <form action="/contactos" method="post">
        <div class="form-group">
          <label for="nombres">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            name="name"
            placeholder="agregue su nombre"
          />

          <label for="nombres">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputEmail1"
            name="ape"
            placeholder="agregue su apellido"
          />
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input
            type="number"
            class="form-control"
            id="exampleInputPassword1"
            name="phone"
            placeholder="agregue su telefono"
          />

          <label for="correo">Correo</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputPassword1"
            name="email"
            placeholder="agregue su correo"
          />
        </div>
        <button type="submit" class="btn btn-primary" id="uno">Guardar</button>
      </form>
    </div>
  </div>
</div>
<table class="table table-dark" style="margin-top: 30px">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Telefono</th>
      <th scope="col">Correo</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for data in contactos%}
    <tr>
      <td>{{data.1}}</td>
      <td>{{data.2}}</td>
      <td>{{data.3}}</td>
      <td>{{data.4}}</td>

      <td>
        <a href="/edit/{{data.0}}">
          <button type="button" class="btn btn-primary" id="but">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-square"
              viewBox="0 0 16 16"
            >
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"
              />
              <path
                fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"
              />
            </svg>
            Editar
          </button>
        </a>

        <a href="/delete/{{data.0}}">
          <button type="button" class="btn btn-danger btn-sm" id="but2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-calendar-x-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 
      0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM6.854 8.146 8 9.293l1.146-1.147a.5.5 0 1 1 
      .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 
      10 6.146 8.854a.5.5 0 1 1 .708-.708z"
              />
            </svg>
            Eliminar
          </button>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
